@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: aliceblue;
}
.wrapper{
    min-height: 100vh;
}
.auth_form{
    width: 400px;
}

.user-img{
    max-height: 12rem;
    min-height: 12rem;
}